#cont {
  margin-left: 10px;
  margin-top: 50px;
}

#user_header {
  float: right;
}

.margin-high {
  margin-top: 5px;
}

.saturate {
  -webkit-filter: saturate(1);
}

.saturate:hover {
  -webkit-filter: saturate(3);
}

.gallery {
  float: left;
  padding: 10px;
}
#white {
  color: white;
}

#yellow {
  background-color: yellow;
}
